#about {
  background-color: #ee7dcc;
  color: white;
}


#about_personal {
  background-color: #dc76b9;
  color: white;
}


@media screen and (min-width: 1100px) {
  #about h1 {
    font-size: 80px;
  }
}

@media screen and (max-width: 1100px) {
  #about h1 {
    font-size: 30px;
  }
}
