#about {
  background-color: #ee7dcc;
  color: white;
  text-align: center;
  height: 100%;
}

#about h1 {
  font-size: 50px;
}


#about_personal {
  background-color: #dc76b9;
  color: white;
}

#about_personal img {
  width: 40%;
}

#about_personal div {
  font-size: 35px;
  width: 55%;
  text-align: center;
}

@media screen and (max-width: 1500px) {
  #about_personal img {
    width: 50%;
  }
  #about_personal div {
    width: 45%;
    font-size: 20px;
  }
}

@media screen and (max-width: 800px) {
  #about h1 {
    font-size: 30px;
  }

  #about_personal img {
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #about_personal div {
    font-size: 15px;
    width: 100%;
  }
}
