#contact {
  color: white;
  background-color: #ee7dcc;
}
#contact_label {
  font-size: 80px;
  width: 50%;
}

#right_column {
  text-align: left;
}

#right_column a {
  color: white;
  text-decoration: none;
}

.podcast_site {
  font-size: 30px;
  margin: 10px;
}

.podcast_site i {
  margin-right: 10px;
}

#right_column h1 {
  font-size: 50px;
}

@media screen and (min-width: 800px) {
  #contact {
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media screen and (max-width: 800px) {
  #contact {
    padding-left: 10px;
    padding-right: 10px;
  }
  #contact_label {
    font-size: 80px;
    width: 100%;
  }
}
