#contact {
  color: white;
}
#contact div {
  display: inline-block;
}
#email_column, #social_column {
  float: left;
}

#social_column, #email_column {
  text-align: center;
}

.social_button {
  font-size: 75px;
  margin-right: 20px;
}

#facebook a:hover{
  color: #7a97d6;
}


#twitter a:hover{
  color: #5ddfff;
}


#instagram a:hover{
  color: #a144bf;
}


@media screen and (min-width: 950px) {
  #contact {
    padding-left: 20%;
    padding-right: 20%;
  }
  #email_column {
    width: 50%;
  }
  #social_column {
    width: 50%;
  }
}
@media screen and (max-width: 950px) and (min-width: 600px) {
  #contact {
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
  }
  #email_column, #social_column {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  #contact {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
  #email_column, #social_column {
    width: 100%;
    margin-bottom: 50px;
  }
}
