#episodes {
  background-color: #0b3c73;
  color: white;
}

#episodes h1 {
  text-align: center;
  margin-bottom: 20px;
}

.episode_button {
  float: left;
  display: inline-block;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 25px;
}

.episode_button a {
  text-decoration: none;
  color: black;
  transition-duration: 0.1s;
}
.episode_button i, .episode_button div {
  text-align: center;
  width: 100%;
}
.episode_button i {
  font-size: 100px;
  margin-bottom: 10px;
}
.episode_button div {
  color: white;
}

#rss_feed i {
  color: #963da4;
}
#rss_feed a:hover i{
  text-shadow: 2px 2px #d67de4;
}

#spotify i {
  color: #1dd25e;
}
#spotify a:hover i{
  text-shadow: 2px 2px #5dff9e;
}

#itunes i {
  color: #f776d1;
}
#itunes a:hover i{
  text-shadow: 2px 2px #8e56d2;
}

#google_podcasts i {
  color: #4285f4;
}
#google_podcasts a:hover i{
  text-shadow: 2px 2px #82c5ff;
}

#stitcher i {
  color: #c33727;
}
#stitcher a:hover i{
  text-shadow: 2px 2px #ff7767;
}

#tunein i {
  color: #1c203c;
}
#tunein a:hover i{
  text-shadow: 2px 2px #5c607c;
}


@media screen and (min-width: 650px) {
  #episodes {
    padding-left: 20%;
    padding-right: 20%;
  }
  .episode_button {
    width: 33%;
  }
}

@media screen and (max-width: 650px) {
  #episodes {
    padding-left: 5%;
    padding-right: 5%;
  }
  .episode_button {
    width: 50%;
  }
}
