#home {
  background-color: #060b3e;
  color: #ee7ccb;
  text-align: center;
  flex-direction: column;
  height: 100%;
}
#home h1 {
  font-size: 65px;
  width: 100%;
}

@media screen and (max-width: 950px) {
  #home h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 450px) {
  #home h1 {
    font-size: 25px;
  }
}
