header {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: visible;
  display: inline-block;
  padding-top: 50px;
}

header a {
  text-decoration: none;
  transition-duration: 0.1s;
  margin: 15px;
  font-size: 18px;
  color: #ee7ccb;
}

header .button {
  padding-top: 15px;
  padding-bottom: 15px;
}

#nav_left {
  padding-left: 80px;
  float: left;
}

#nav_right {
  padding-right: 80px;
  float: right;
}

header .icon {
  display: none;
}

@media screen and (max-width: 850px) {
  header {
    display: flex;
    padding-top: 10px;
    width: 100%;
  }
  #nav_left, #nav_right {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
  }
  #nav_left {
    display: flex;
  }
  header a {
    display: none;
  }
  header a.icon {
    float: left;
    display: block;
  }

  header a, header a.button {
    text-align: center;
  }

  header.responsive {
    background-color: #060b3e;
    height: 100%;
    flex-direction: column;
    padding-bottom: 10px;
  }
  header.responsive a {
    display: block;
  }
}
