header {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: visible;
  display: inline-block;
  padding-top: 50px;
  transition-duration: 0.3s;
}

header a {
  text-decoration: none;
  margin: 15px;
  font-size: 18px;
  color: #ee7ccb;
}
header.invert a {
  color: white;
}
header.invert a.button {
  color: #ee7ccb;
  background-color: white;
}

header .button {
  padding-top: 15px;
  padding-bottom: 15px;
}

header #home_right_link {
  display: none
}

#nav_left {
  padding-left: 80px;
  float: left;
}

#nav_right {
  padding-right: 80px;
  float: right;
}

header .icon {
  display: none;
}

@media screen and (max-width: 950px) {
  header {
    display: flex;
    padding-top: 10px;
    width: 100%;
  }
  #nav_left, #nav_right {
    padding-left: 10px;
    padding-right: 10px;
  }
  #nav_left {
    display: flex;
    margin-left: auto;
  }
  #nav_right, #home_link {
    display: none;
  }
  header a {
    display: none;
  }
  header a.icon {
    float: right;
    display: block;
  }
  header .fa-close {
    display: none;
  }

  header a, header a.button {
    text-align: center;
  }

  header.responsive {
    background-color: #ee7ccb;
    height: 100%;
    flex-direction: column;
    padding-bottom: 10px;
  }
  header.responsive a, header.responsive #home_right_link {
    display: block;
    color: #060b3e;
  }
  header.responsive #nav_right {
    display: block;
    font-weight: bold;
  }
  header.responsive .fa-bars {
    display: none;
  }
  header.responsive .fa-close {
    display: block;
  }
  header.responsive .button {
    background-color: #060b3e;
    color: #ee7ccb;
  }
}
