html {
  height: 100%;
  margin: 0px;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0px;
  font-family: 'Poppins';
  color: black;
  background-color: #060b3e;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  height: 100%;
  overflow: auto;
}

@media screen and (min-width: 1100px) {
  .section {
    padding-left: 150px;
    padding-right: 150px;
  }
}

@media screen and (max-width: 1100px) {
  .section {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.button {
  color: white;
  background-color: #ee7dcc;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}

.button_inverse {
  color: #ee7ccb;
  background-color: #060b3e;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}
